MONGODB_URI=mongodb+srv://imrahulkeshri_db_user:ih0j6tkcPKbRN4Rx@cluster0.573z5mb.mongodb.net/
NEXTAUTH_SECRET=your-secret-here-change-this-in-production
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GMAIL_REDIRECT_URI=http://localhost:3000/api/gmail/callback
